// Home Page Theme Color
$hp-theme: #71303f;

$primary: #79D6F6;
$primary-dark: #383C42;

$copy-primary: #222222;
$copy-light: #656565;
$copy-dark: #111111;

$white: #fff;
$gray1: #F3F3F3;
$gray2: #E0E0E0;
$gray3: #C4C4C4;
$gray4: #ACACAC;

